BODY{
    font-family: 'Lobster', cursive;
    margin: 0;
}
h1{
    font-size: 45px;
}
.name-color{
     color:indigo;
}

.clr{
    color: lawngreen;
}
.colr{
    color: gold;
}
.flexible-cotainer{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
   
}
.half-width img{

    width: 94%;
}
.link-button{
    text-decoration: none;
    color:indigo;
    font-weight: 700;
    background-image:linear-gradient(hotpink , gold);
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.nxt-pic{
    width: 75%;
    padding-left: 5%;

}
.Dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
 
}
.color{
    color:goldenrod;
}
.expirience-item{
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 2%;
    border-radius: 10px;
   box-shadow: 10px 10px 40px  palevioletred;


}
.Expirience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-developer-expirience{
   border-left: 10px solid;
   border-image: linear-gradient(hotpink, blue );
      border-image-slice: 1; 
}
#fullstack-developer-expirience{
    border-left: 10px solid;
    border-image: linear-gradient(red,salmon );
       border-image-slice: 1; 

}
footer p{
    text-align: center;
}